# Ignore Python virtual environments

# Python cache
__pycache__/
*.pyc

# Virtual environment
uel_ai_env/

# Databases
*.db

# Logs
*.log

# JSON outputs / ML results
*.json

# PDFs / HTML / other local documents
*.pdf
*.html
*.txt

# System files
.DS_Store

# Jupyter checkpoints
.ipynb_checkpoints/

